# =====================
# Python
# =====================

venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# PyTorch Models
# =====================

*.pth
*.pt
*.ckpt

# =====================
# Datasets
# =====================

*.npy
*.wav
*.zip

valve_spectograms/
dataset/
datasets/
data/

# =====================
# FastAPI Uploads
# =====================

uploads/

# =====================
# Environment Variables
# =====================

.env

# =====================
# Logs
# =====================

*.log

# =====================
# Node / React
# =====================

node_modules/
dist/
build/

# =====================
# IDE
# =====================

.vscode/
.idea/

# =====================
# OS Files
# =====================

.DS_Store
Thumbs.db